---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Portfolio from "../components/Portfolio.astro";
import Team from "../components/Team.astro";
import Pricing from "../components/Pricing.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Obyz Technologies - Proffesional Web Design">
	<main>
		<Hero />
		<Features />
		<Portfolio />
		<Team />
		<Pricing />
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		overflow-x: hidden;
	}
</style>